body {
    background-color: #ffffff;
    color: #000000;
    font-family: Poppins, sans-serif;
    text-align: center;
}

a {
    color: #16a34a;
}

.logo {
    width: 160px;
    max-width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.container {
    width: 100%;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background-color: #0c0a09;
        color: #f2f2f2;
    }

    a {
        color: #22c55e;
    }
}